.client-form-container {
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-57%);
}

.client-form-container input[type="text"] {
    width: calc(100% - 20px);
    height: 5vh;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
}

.client-form-container input:focus {
    box-shadow: 0 0 15px var(--color-primary);
    outline: none;
}

.client-form-container h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
}

.client-form-container label {
    font-size: 17px;
}

.client-form-container button[type="submit"] {
    margin-top: 20px;
    width: 25vw;
    height: 10%;
    background: var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
}

.client-form-container button[type="submit"]:hover {
    background: var(--color-primary);
    color: var(--color-background);
    border-color: transparent;
    transform: scale(1.1);
}

.client-form-container .inputs-div {
    width: auto;
    min-height: 480px;
}
